/* imported from other resources - */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap');


/* common utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color-lite: white;
    --text-color-dark : #000;
    --btn-color: #E02C6D;
    --main-section-bg-color: #2D25A0;
    --fullbody-bg-color: #FFFFFF;
    --box-shadow-for-cells: rgba(0, 0, 0, 0.15);
    --footer-social-icons: #969BAB;

}
html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--fullbody-bg-color);
    font-size: 1.8rem;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
h1,h2,h3{
    text-transform: capitalize;
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.flexible{
    display: flex;
}
.btn{
    background-color: var(--btn-color);    
}

.btn a{
    color: var(--text-color-lite);
}
.fas{
   
    font-size: 1.8rem;
    color: var(--text-color-lite);
    margin: 0;

}
/*---------------
                 header and navigation 
--------------*/
header{
    background-color:var(--main-section-bg-color);
    padding: 2rem 0;
}

nav a{
    color: var(--text-color-lite);
    text-transform: capitalize;
}
.nav-flexible{
    /* border:  1px solid; */
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

}
.nav-items{
    /* border: 1px solid #E02C6D; */
    width: 63%;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
}
.nav-items a{
    border: none;
}
.nav-items a:hover{
    border-bottom: 2.5px dashed #E02C6D;
    transition: border-bottom .6s ease-in .2s ;
    

}
.btn-login{
    padding: 0.8rem 2.4rem;
    text-align: center;
}

/* ------------
                        section-main
--------------- */

.section-main{
    background-color: var(--main-section-bg-color);
    height: 80vh;
    width: 100%;
    padding: 20px;
    
}
.heading-1{
    font-size: 64px;
    color: var(--text-color-lite);
    text-transform: capitalize;
}
.btn-live{
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-lite);
    text-transform: capitalize;
}

.section-main-features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
}
.section-main-feature-img img {
    max-width: 100%;
}


/* --------------
                            section-players
        ----------------- */

    .section-players{
        padding-top: 20px;
        margin-top: 70px;
        border: 2px solid;
    }
    .player-info{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px 15px;
    }
    .player{
        padding: 5px 13px;
        margin-bottom: 2.7rem;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        
    }
    .player img{
        width: 95%;
        align-self: center;
        margin-bottom: 1rem;
        
    }



/* --------------
                            section-highlights
        ----------------- */

    .section-highlights{
        margin-top: 20px;
        padding-top: 50px;
    }
    .highlights-text{
        
    }
















/* media query  */

@media only screen and (max-width: 993px) {
    header{
        margin-bottom: 0;
    }
    .nav-desktop{
        display: none;
    }
    .checkbox{
        display: none;
    }
    .burger-menu{
        font-size: 33px;
        color: var(--text-color-lite);
        margin-left: 30px;
    }
    .resp-nav{
        display: flex;
        justify-content: space-between;
        width: 97%;

    }
    .resp-nav-items{
        display: none;
    }
    .checkbox:checked ~ nav{
        display: block;
       
    }
    .resp-nav-items-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .resp-nav-items-wrapper p+p{
        margin-top: 1%;
    }
    .resp-nav .btn-login{
        padding: 0.5rem 2rem;
        color: var(--text-color-lite);
        
    }
        /* --------------
                            section-main
        ----------------- */
        .section-main{
            height: 145vh;
            margin-top: 0;
        }
        .section-main-features{
            display: flex;
            flex-direction: column;
            
        }
        
        .heading-1{
            font-size: 4.8rem;
            margin-bottom: 2.6rem;
        }
        .btn-live{
            margin-bottom: 20px;
            margin-bottom: 4.8rem;
        }

    
  }

  @media only screen and (min-width:992px) {
      .resp-nav{
          display: none;
      }
  }
