/* imported from other resources - */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,700&display=swap');


/* common utilities */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --text-color-lite: white;
    --text-color-dark : #000;
    --btn-color: #E02C6D;
    --main-section-bg-color: #2D25A0;
    --fullbody-bg-color: #FFFFFF;
    --box-shadow-for-cells: rgba(0, 0, 0, 0.15);
    --footer-social-icons: #969bab8c;

}
html{
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: var(--fullbody-bg-color);
    font-size: 1.8rem;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
h1,h2,h3{
    text-transform: capitalize;
}
.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}
.flexible{
    display: flex;
}
.btn{
    background-color: var(--btn-color);    
}

.btn a{
    color: var(--text-color-lite);
}
.btn:hover{
    transform: scale(1.15);
    transition: transform 1s ease-in .2s;
}
.fas{
   
    font-size: 1.8rem;
    color: var(--text-color-lite);
    margin: 0;

}
/*---------------
                 header and navigation 
--------------*/
header{
    background-color:var(--main-section-bg-color);
    padding: 2rem 0;
}

nav a{
    color: var(--text-color-lite);
    text-transform: capitalize;
}
.nav-flexible{
    /* border:  1px solid; */
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;

}
.nav-items{
    /* border: 1px solid #E02C6D; */
    width: 63%;
    display: flex;
    justify-content: space-around;
    font-weight: 300;
}
.nav-items a{
    border: none;
}
.nav-items a:hover{
    
    /* background: linear-gradient(var(--btn-color), var(--main-section-bg-color)); */
    background: linear-gradient(45deg,var(--btn-color) , #2D25A0);;
    transition: background .6s ease-in .2s ;
    padding: 5px 9px;
    

}
.btn-login{
    padding: 0.8rem 2.4rem;
    text-align: center;
}

/* ------------
                        section-main
--------------- */

.section-main{
    background-color: var(--main-section-bg-color);
    height: 80vh;
    width: 100%;
    padding: 20px;
    
}
.heading-1{
    font-size: 64px;
    color: var(--text-color-lite);
    text-transform: capitalize;
}
.btn-live{
    width: 168px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color-lite);
    text-transform: capitalize;
}

.section-main-features{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    
}
.section-main-feature-img img {
    max-width: 100%;
}

.section-main-feature-img img:hover{
    transform: scale(.8) rotate(32deg);
    transition: transform 1.8s ease-in-out .2s;
}

/* --------------
                            section-players
        ----------------- */

    .section-players{
        padding-top: 20px;
        margin-top: 70px;
        /* border: 2px solid; */
    }
    .player-info{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 20px 15px;
    }
    .player{
        padding: 5px 13px;
        margin-bottom: 2.7rem;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        
        
    }
    .player h3{
        font-size: 28px;
    }
    .player p {
        text-align: justify;
    }
    .player img{
        width: 95%;
        align-self: center;
        margin-bottom: 1rem;
        
    }



/* --------------
                            section-highlights
        ----------------- */

    .section-highlights{
        margin-top: 20px;
        padding-top: 50px;
    }

    .highlights-flexible{
        display: flex;
        justify-content: space-around;
        display: flex;
        align-items: center;
    }
    .highlights-text{
        width:  49%;
        /* border: 2px solid; */
    }

    .highlights-text h2{
        font-weight: 900;
        font-size: 48px;
        margin-bottom: .8rem;
    }
    .highlights-text p{
        margin-bottom: 2.4rem;
    }

    .highlights-img{
        width: 49%;
    }
   



/* --------------
                            footer
        ----------------- */
footer{
    margin-top: 158px;
}
.footer-flexible{
    /* border: 2px solid; */
    flex-direction: column;
}
.footer-img {
    width: 55%;
    /* border: 2px solid; */
    align-self: center;
    margin-bottom: 15px;
}

.footer-social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.footer-social-links a+a{
    margin-left: 20px;
}

.copyright{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5.8rem;
}

/* font-awesome social links */
.social-link{
    background-color: var(--footer-social-icons);
    border-radius: 50%;
    padding: 1rem;
    color: var(--footer-social-icons);
}

/* -------------------
                        section-cookies 
 */
    
 .card{
     width: 300px;
     height: 100px;
     position: fixed;
     bottom: 0;
     right: 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--fullbody-bg-color);
     box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);

 }

 .btn-accept,.btn-cancel{
     width: 150px;
     margin-bottom: 8px;
     display: flex;
     justify-content: center;
 }

 .btn-accept a{
     text-align: center;
     text-transform: capitalize;
 }

 .btn-cancel{
     background-color: rgba(194, 190, 190, 0.849);
 }






/* media query  */

@media only screen and (max-width: 993px) {
    header{
        margin-bottom: 0;
    }
    .nav-desktop{
        display: none;
    }
    .checkbox{
        display: none;
    }
    .burger-menu{
        font-size: 33px;
        color: var(--text-color-lite);
        margin-left: 30px;
    }
    .resp-nav{
        display: flex;
        justify-content: space-between;
        width: 97%;

    }
    .resp-nav-items{
        display: none;
    }
    .checkbox:checked ~ nav{
        display: block;
       
    }
    .resp-nav-items-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .resp-nav-items-wrapper p+p{
        margin-top: 1%;
    }
    .resp-nav .btn-login{
        padding: 0.5rem 2rem;
        color: var(--text-color-lite);
        
    }
        /* --------------
                            section-main
        ----------------- */
        .section-main{
            height: 145vh;
            margin-top: 0;
        }
        .section-main-features{
            display: flex;
            flex-direction: column;
            
        }
        
        .heading-1{
            font-size: 4.8rem;
            margin-bottom: 2.6rem;
        }
        .btn-live{
            margin-bottom: 20px;
            margin-bottom: 4.8rem;
        }
        /* --------------
                            section-players
        ----------------- */
        .player-info{
            display: grid;
            grid-template-columns: 1fr;
            grid-gap:  15px;
        }
        .player img{
            width: 90%;
            align-self: center;
            margin-bottom: 1rem;
            
        }
        .player h3,
        .player p{
            margin-left: 20px;
        }

        /* --------------
                            section-highlights
        ----------------- */
        .section-highlights{
            margin-top: 20px;
            padding-top: 50px;
        }
    
        .highlights-flexible{
            flex-direction: column;
            justify-content: space-around;
            display: flex;
            align-items: center;
        }
        .highlights-text{
            width: 92%;
            /* border: 2px solid; */
        }
    
        .highlights-text h2{
            font-weight: 900;
            font-size: 40px;
            margin-bottom: .5rem;
        }
        .highlights-text p{
            margin-bottom: 2rem;
        }
    
        .highlights-img{
            width: 92%;
        }
        .section-cookies{
            display: none;
        }
        /* --------------
                            footer
        ----------------- */
footer{
    margin-top: 58px;
}

.footer-img {
    width: 75%;
    
}

.footer-social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.7rem;
}
.footer-social-links a+a{
    margin-left: 15px;
}

.copyright{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 15rem;
}

/* font-awesome social links */
.social-link{
    background-color: var(--footer-social-icons);
    border-radius: 50%;
    padding: 1rem;
    color: var(--footer-social-icons);
}
       
    
  }

  @media only screen and (min-width:992px) {
      .resp-nav{
          display: none;
      }
  }
